/*
COLOR PALETTE
https://coolors.co/f7fff7-343434-2f3061-ffe66d-a1c6d7
#F7FFF7 - almost white
#343434 - dark gray - almost black
#2F3061 - blue dark
#FFE66D - yellow
#A1C6D7 - blue light
*/

/* global Style */
body{
    color: #343434;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

a{
    color: #FFE66D;
}

img{
    width: 300px;
}
a:hover{
    text-decoration: none;
}
.content-wrap{
    width: 800px;
    margin: 0 auto;
    padding: 60px 0;
}
h2{
    margin: 0;
}
/* profile */
header{
    background: #2F3061;
    color: #F7FFF7;
}
/* projects */
.projects{
    background: #F7FFF7;
}
.projects a{
    color: #2F3061;
}
.projects .btn{
    color: #F7FFF7;
    background: #2F3061;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}
.projects .btn:hover{
    background: rgba(47, 48, 97,80%);
}
/* work experience  */
.work-experience{
    background: #A1C6D7;
}
/* contact info  */
footer{
    background: #343434 ;
    color: #F7FFF7;
}
