/*
COLOR PALETTE
https://coolors.co/palette/004e64-00a5cf-9fffcb-25a18e-7ae582
#004e64 - dark blue
#00a5cf - light blue
#9fffcb - light green
#25a18e - green
#7ae582 -Parrot green
*/

/* global Style */
html{

    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
body{
    color: #343434;
    margin: 0;
    padding: 0;
    font-family: 'Philosopher', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

a{
    color: white;
}

img{
    width: 300px;
}
a:hover{
    text-decoration: none;
}
.content-wrap{
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding: 80px 0;
} 
h3{
    margin-bottom: 0;
}
.item-details h3 + p{
    font-style: italic;
}
h1{
    font-size: 100px;
    line-height: 1;
}
h2{
    font-size: 45px;
}
h1,h2{
    font-family: 'Zeyada', cursive;
    font-weight: 400;
    margin: 0;
}
.item-details h3 ~ p{
    margin: 0;
}
.divider > section{
    border-bottom: 1px dashed #343434;
    padding: 25px 0;
}
.divider > section:last-of-type{
border-bottom: none;
}
/* navigation */
.navigation li {
    display: inline;
  }
  nav.navigation.nav_responsive {
    position: sticky;
    top: 0;
}
  .navigation ul{
    margin: 0;
    background-color: #7ae582;
    padding: 10px;
    width: 100%;
    text-align: right;
  }
 .navigation ul li{
    padding: 12px;
    font-size: 23px;
  }
 .navigation li a:hover {
    background-color: #00a5cf;
  }
  
/* profile */
.profile-image{
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding-top: 65px;
}
.profile-image img{
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 22%;
}
header{
    background: #004e64;
    color: #F7FFF7;
   
}
/* projects */
.projects{
   background-color: #00a5cf;
}
.projects a{
    color: #2F3061;
}
.projects .btn{
    color: #F7FFF7;
    background: #2F3061;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}
.projects .btn:hover{
    background: rgba(47, 48, 97,80%);
}
.project-item{
    overflow: hidden;
    
}
.project-item img{
    float: left;
    margin: 20px;
}
.project-item h3{
    margin-top: 0;
}
/* work experience  */
.work-experience{
    background: #9fffcb;
}

/* education  */
.education{
    background-image: url(../images/education.jpg);
    background-size: cover;
    background-position: top right;
    padding-bottom: 100px;
}
.education p{
    width: 60%;
}

/* contact info  */
footer{
    background: #343434 ;
    color: #F7FFF7;
   
}
.contact-list{
    list-style-type: none;
    padding: 0;
   
}
.contact-list a{
    padding: 15px;
    display: inline-block;
}

.modal a {
    background-color: black;
    color: #fff;
    text-align: center;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    border-radius: 2px;
    
  }
  /* modal box */
   /* Taken from stack overflow */
  a.modal {
    font-size: 36px;
}   
  a:hover {
    background-color: #00a5cf;
  }
  body > a {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .md-modal {
      position: fixed;
      top: 50%;
      left: 50%;
      width: 50%;
      max-width: 630px;
      min-width: 320px;
      height: auto;
      z-index: 2000;
      visibility: hidden;
      transform: translateX(-50%) translateY(-50%);
  }
  
  .md-modal:target {
      visibility: visible;
  }
  
  .md-overlay {
      position: fixed;
      width: 100%;
      height: 100%;
      visibility: hidden;
      top: 0;
      left: 0;
      z-index: 1000;
      opacity: 0;
      background: #00a5cf;
      transition: all 0.3s;
  }
  
  .md-modal:target ~ .md-overlay {
      opacity: 1;
      visibility: visible;
  }
  
  /* Content styles */
  .md-content {
      color: #fff;
      background: #004e64;
      position: relative;
      border-radius: 3px;
      margin: 0 auto;
  }
  
  .md-content h3 {
      margin: 0;
      padding: 0.4em;
      text-align: center;
      font-size: 2.4em;
      font-weight: 300;
      opacity: 0.8;
      background: rgba(0,0,0,0.1);
      border-radius: 3px 3px 0 0;
  }
  
  .md-content > div {
      padding: 15px 40px 30px;
      margin: 0;
      font-weight: 300;
      font-size: 1.15em;
  }
  
  .md-content > div p {
      margin: 0;
      padding: 10px 0;
  }
  
  .md-content > div ul {
      margin: 0;
      padding: 0 0 30px 20px;
  }
  
  .md-content > div ul li {
      padding: 5px 0;
  }
  
  .md-content a {
      display: block;
      margin: 0 auto;
      font-size: 0.8em;
  }
  
  /* Effect */
  
  .md-modal .md-content {
      -webkit-transform: scale(0.7);
      -moz-transform: scale(0.7);
      -ms-transform: scale(0.7);
      transform: scale(0.7);
      opacity: 0;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
  }
  
  .md-modal:target .md-content {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      opacity: 1;
  }
  /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: #004e64;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  label {
    color: black;
}
/* responsive  */
@media screen and (min-width:750px){
    header, footer{
        text-align: center;
    }
    .project-item img{
        float: left;
        margin: 20px;
    }
    .job-item{
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 20px;
    }
    .contact-list{
        display: flex;
        justify-content: center;
    }
  
}
@media screen and (max-width:749px){
    h1{
        font-size: 75px;
        line-height: 0.9;
        margin-bottom: 20px;
    }
    h2{
        line-height: 1;
    }
    .contact-list a{
        padding: 5px;
    }
  
}
@media screen and (max-width:900px){
    .nav_responsive ul{
        float: right;
        padding-right: 23px;
        position: fixed;
        margin-left: auto;
        left: 0;
        
       }
       .navigation ul li {
       
        font-size: 15px;
        
    }
    .profile-image img {
        border-radius: 12px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        width: 95%;
    }
    
}
/* motion page css */
ul .portfolio{
    float: left;
    padding: 0;
}
.navigation ul .portfolio{
   
    padding: 0;
}
/* grid css */
.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    padding: 15px;
    max-width: 731px;
    margin: 0 auto;
}
.grid-item {
    padding: 20px;
    text-align: center;
    background-color: #004e64;
    height: 232px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* hover grid css */
.hover-btn:hover {
    background-color: #00a5cf;
    font-size: 20px;
    padding: 20px 35px;
}
.hover-btn{
    padding: 15px 30px;
    font-size: 18px;
    background-color: #25a18e;
    color: #fff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-weight: bold;
    transition-property: background-color, font-size, padding;
    transition-duration: 0.4s, 0.6s, 0.8s; /* Timing for each property */
} 
/* larger and smaller word */
.text_1{
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    animation: pulse 2s infinite alternate;
}
@keyframes pulse {
    0% {
        font-size: 40px; /* Start with a larger font size */
    }
    100% {
        font-size: 30px; /* End at the original font size */
    }
}
/* svg images */
.grid-item .svg_image{
    width: 69%;
}
.svg_image{
    animation: moveBackAndForth 1s;
}
@keyframes moveBackAndForth {
   
    100% {
        transform: translateX(50px); /* Adjust the distance the circle moves */
    }
}
.svg_image:hover {
    animation-name: move;
    animation-duration: 3s;
  animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
/* Blinking text css */
.phrase {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 0.1em;
    border-right: 0.15em solid #ffffff;
    color: white;
    width: 0;
    animation: typing 5s steps(15) infinite,
            blink 0.4s steps(1) infinite;
}
@keyframes blink {
    0%, 100% {
        border-color: transparent;
    }
    50% {
        border-color: #7ae582;
    }
  }
   /* Typing animation */
   @keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
  }
  /* Rotate word css */
  .rotate-word {
    display: inline-block;
    perspective: 1000px; 
}
.rotate-word .name-1 {
    display: inline-block;
    transform-style: preserve-3d;
    transition: transform 0.7s;
    font-size: 32px;
    font-weight: bold;
    color: #ffff;
}
.rotate-word:hover .name-1 {
    transform: rotateX(360deg); 
}
/* cubic-bezie css */
.box {
    width: 100px;
    height: 100px;
    animation: scaleAndColor 3s infinite;
}
@keyframes scaleAndColor {
    0%, 100% {
        transform: scale(1);
        background-color: #00a5cf;
    }
    50% {
        transform: scale(1.2) rotate(5deg);
        background-color: #7ae582;
    }
}
/* media query for motion.html */
@media (max-width: 767px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }
}
/* animation css */
@keyframes scaleAnimation {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }